
@import 'bootstrap';
@import '../../app.component.scss';
.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(0,0,0,.05);
    span{
        font-size: 60px;
        color: var(--rv-primary-color);
    }
}
.card-body{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-right: 0px ;padding-left: 0px;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #efb702 !important;
}
h4{
    color:var(--rv-primary-bg-color) !important;
    font-weight: bold;
    font-size: 35px;
}
.card-title{
    color:var(--rv-primary-bg-color) !important;
}
p{
    font-size: 25px;
    font-weight: bold;
    color:var(--rv-primary-bg-color) !important;
}

.btTxt{
    height: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-width : 1024px) {
    .btTxt{
        width: 275px;
    }
/* Styles */
    h4{
        font-size: 20px;
    }
    p{
        font-size: 17px;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    h4{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    h4{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
}
@media only screen
and (min-width : 1224px) {
    .info, .contact{
        width: 50%;
    }

    .mobilephone{
        height:400px;
        position:relative;
        margin:0 auto;
        transform:scale(1.2);
        -webkit-transform:scale(1.2);
    }
    .btTxt{
        height: 100px;
    }
    .container-bh-3{
        display:flex
    }
    .container-bh-2{
        display:flex
    }
    .mb-0{
        line-height: 20pt;
    }
}
@media only screen
and (max-width : 1224px) {
    .mobilephone{
        display: none;
    }
    .info, .contact{
        width: 100%;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1921px) and (min-height: 1081px){
    .card{
        border-radius: 50px;
    }

    .container-fluid{
        max-width: 1524px !important;
        // height:150vh;
    }
    .mb-0{
        line-height: 20pt;
    }
}
@media screen and (min-width:map-get($grid-breakpoints, xl)) and (max-width: 1920px){

    @media screen and (min-width:1400px) and (max-width:1440px){

    }
    @media screen and (width:1280px) and (height:800px){

    }
    @media screen and  (max-width:1500px){

    }
}
@media screen and (max-width:map-get($grid-breakpoints, xl)) {

    @media screen and (max-width:map-get($grid-breakpoints, md)){

    }
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}