<div class="container-fluid" style="overflow:hidden">
    <app-header></app-header>
    <div class="py-5 w-100 align-items-center justify-content-center text-center">
        <div class="w-100 align-items-center justify-content-center text-center py-3" style="background-color: #efb702 !important; ">
            <div class="container container-bh-2">
                <div class="container container-bh-2 align-items-center justify-content-center text-center" style="width:100%">
                    <div class="container container-bh-2 my-5" style=" padding-right: 0px !important;padding-left: 0px !important;" >
                        <div class="text-center justify-content-center pt-5 info" style="background-color: #444444; padding-right: 0px !important;padding-left: 0px !important; box-shadow: 9px 9px 12px -1px rgba(0, 0, 0, 0.25);" >
                            <div class="card-body text-center justify-content-left">
                                <div class="justify-content-start text-center " style="width:100%;background-color:white;padding-right: 0px !important;
                                padding-left: 0px !important;">
                                    <h4 class="card-title mt-2 mx-5"style="font-weight: bold; color:#efb702 !important;">Contact Information</h4>
                                </div>
                                <div class="justify-content-start text-left mx-5 mt-5">
                                    <div class="dbox w-100 d-flex align-items-center my-3">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-paper-plane"></span>
                                        </div>
                                        <div class="text pl-3 pt-3">
                                        <p style="font-weight: bold; color:white !important;">XXXXX@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center my-3">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="text pl-3 pt-3">
                                        <p style="font-weight: bold; color:white !important;">XXXXXXXXXXXXXX</p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center my-3">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="text pl-3 pt-3">
                                        <p style="font-weight: bold; color:white !important;">+ 1235 2355 98</p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center my-3">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="text pl-3 pt-3">
                                        <p style="font-weight: bold; color:white !important;">relayver2.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center justify-content-center py-5 px-5 contact" style="background-color: white !important;">
                            <div class="card-body text-center justify-content-center">
                                <form class="py-5">
                                    <div class="text-center mb-3">
                                        <span class="h1 fw-bold mb-0">GET IN TOUCH WITH US</span><br>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="contactName" placeholder="Name" class="form-control" required="required"/>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="email" id="contactEmail" placeholder="Email" class="form-control" required="required">
                                    </div>
                                    <select class="browser-default custom-select mb-4">
                                        <option value="" disabled>Choose option</option>
                                        <option value="1" selected>Feedback</option>
                                        <option value="2">Report a bug</option>
                                        <option value="3">Feature request</option>
                                        <option value="4">Feature request</option>
                                    </select>
                                    <div class="form-group">
                                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <button class="btn btn-primary" type="button">
                                        SUBMIT
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>