
<!-- <div class="navbar-nav ml-auto action-buttons" style="gap:10px">
  <div mdbDropdown class="dropdown">

    <button class="btn btn-secondary btn-outline-primary dropdown-toggle" type="button"  mdbDropdownToggle aria-expanded="false">
      Login
    </button>

    <div mdbDropdownMenu class="dropdown-menu dropdown-menu-end ">
      <form class="px-4 py-3">
        <div class="text-center mb-3">
          <p>Sign in with:</p>
          <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #3b5998 !important;">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #dd4c39 !important;">
            <i class="fab fa-google me-2"></i>
          </button>

          <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #0082ca !important;">
            <i class="fab fa-linkedin-in me-2"></i>
          </button>

          <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #333!important; color:#fafafa !important;">
            <i class="fab fa-github me-2"></i>
          </button>
        </div>

        <p class="text-center">or</p>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="text" id="loginEmail" placeholder="Email" class="form-control" required="required">
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          </div>
          <input type="password" id="loginPassword" placeholder="Password" class="form-control" required="required">
        </div>
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck"> Remember me </label>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        <div class="text-center">
          <p>Not a member? <a href="/registerCarRental">Register</a></p>
        </div>
      </form>
    </div>
  </div>
  <div mdbDropdown class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-outline-primary" type="button"  mdbDropdownToggle aria-expanded="false">
    Register
  </button>
  <div mdbDropdownMenu class="dropdown-menu dropdown-menu-end ">
    <form class="px-4 py-3">
      <div class="text-center mb-3">
        <p>Sign in with:</p>
        <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #3b5998 !important;">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #dd4c39 !important;">
          <i class="fab fa-google me-2"></i>
        </button>
        <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #0082ca !important;">
          <i class="fab fa-linkedin-in me-2"></i>
        </button>
        <button type="button" class="btn btn-link btn-primary btn-floating mx-1" style="background-color: #333!important; color:#fafafa !important;">
          <i class="fab fa-github me-2"></i>
        </button>
      </div>
      <p class="text-center">or:</p>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" id="registerName" placeholder="Name" class="form-control" required="required"/>
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
        </div>
        <input type="email" id="registerEmail" placeholder="Email" class="form-control" required="required">
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" id="registerPassword" placeholder="Password" class="form-control" required="required">
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" id="registerRepeatPassword" placeholder="Repeat password" class="form-control" required="required">
      </div>
      <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
          aria-describedby="registerCheckHelpText" />
        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
    </form>
</div> -->

<div class="navbar-nav ml-auto action-buttons" style="gap:25px">
  <button routerLink="/choose" class="btn btn-secondary btn-outline-primary" type="button">
    Login
  </button>
  <button routerLink="/choose" class="btn btn-secondary btn-outline-primary" type="button">
    Register
  </button>
</div>