<section class="h-100 gradient-form" style="background-color: #efb702;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                    <img src="/assets/images/relay-logo2.png" class="img-fluid"/>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background-color: var(--rv-primary-color);border-radius: 1rem;">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="navbar-nav ml-auto action-buttons" style="gap:25px"><br>
                    <button routerLink="/loginFoodDelivery" class="btn btn-secondary btn-outline-primary" type="button">
                      Food Delivery
                    </button>
                    <button routerLink="/loginCarRental" class="btn btn-secondary btn-outline-primary" type="button">
                      Car Rental
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>