
h4,p{
    color:var(--rv-primary-bg-color);
}
.gradient-custom-2 {
    color:var(--rv-primary-color);
    }

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (max-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
@media (max-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}