<div class="container-fluid">
    <mdb-carousel style="background-color: #efb702" class="carousel slide carousel-fade"[indicators]="true" [animation]="'fade'">
        <mdb-carousel-item>
            <div class="view">
                <img class="d-block" src="assets/images/home1.5.1.jpeg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect><app-header></app-header></div>
            </div>
            <div class="carousel-caption cap1 d-flex justify-content-center">
                <div class="text w-50 text-center justify-content-center">
                    <div class="head-bg">
                        <h1 class="mb-4" style="font-weight:bold;justify-content: center !important; text-align: center !important;">THIS IS THE MARKETING MESSAGE OF THE BRAND</h1>
                        <button routerLink="/choose" class="btn btn-primary" type="button">
                            GET STARTED
                        </button>
                    </div>
                </div>
            </div>

        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view">
            <img class="d-block" src="assets/images/home.jpeg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect><app-header></app-header></div>
            </div>
            <div class="carousel-caption cap2 d-flex justify-content-center">
                <div class="text w-50 text-center">
                    <div class="head-bg">
                        <h1 class="mb-2" style="font-weight:bold;justify-content: center !important; text-align: center !important;">THIS IS THE MARKETING MESSAGE OF THE BRAND</h1>
                        <h2>
                            <button routerLink="/loginFoodDelivery" class="btn btn-primary" type="button">
                                GET STARTED
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
            <div class="view">
                <img class="d-block" src="assets/images/home5.jpeg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect><app-header></app-header></div>
            </div>
            <div class="carousel-caption cap3 d-flex justify-content-center">
                <div class="text w-50 text-center justify-content-center">
                    <div class="head-bg">
                        <h1 class="mb-4" style="font-weight:bold;justify-content: center !important; text-align: center !important;">THIS IS THE MARKETING MESSAGE OF THE BRAND</h1>
                        <button routerLink="/loginCarRental" class="btn btn-primary" type="button">
                            GET STARTED
                        </button>
                    </div>
                </div>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>