<div class="container-fluid" style="overflow:hidden">
    <app-header></app-header>
    <div class="row pt-5 my-5 text-center justify-content-center" >
        <div class="py-5"  style="background-color: #444444;">
            <div class="text-center justify-content-center pt-3 " style="display:flex">
                <div class="text-center justify-content-center w-50">
                    <h4 class="mb-3 p-card">SERVICES</h4>
                    <p class="mb-0 p-card">Lorem ipsum lorem ipsum lorem ipsum lorem ispum
                        Lorem ipsum lorem ipsum lorem ipsum lorem ispum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-center justify-content-center" >
        <div class="text-center justify-content-center pt-3 " style="display:flex">
            <div class="text-center justify-content-center w-50">
                <h4 class="mb-3 p-card" style="color: #444444 !important;">SCROLL DOWN</h4>
                <span class="fas fa-angle-double-down"></span>
            </div>
        </div>
    </div>
    <div class="my-5 text-center justify-content-center">
        <div class="container">
            <div class="card-body text-center justify-content-center" >
                <h4 class="card-title mt-2">OUR SERVICES</h4>
                <p class="mb-0 pb-3" style="color:#444444 !important;">
                    IPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM IPSUMLOREM IPSUM
                    IPSUMLOREM IPSUM IPSUMLOREM IPSUMIPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM
                </p>
            </div>
            <div class="py-5 w-100">
                <div class="w-100">
                    <div class="container container-bh-2 text-center justify-content-center" style="display: flex;">

                        <div class="text-center justify-content-center pt-3 aboutrelay-img px-3 my-5">
                            <div class="card-body text-center justify-content-center m-auto">
                                <img src="/assets/images/login-car.jpg" alt="login form" class="img-fluid h-100" style="border-radius: 1rem 1rem 1rem 1rem;" />
                            </div>
                        </div>
                        <div class="text-center justify-content-center pt-3 aboutrelay-info px-3 my-5" >
                            <div class="card-body text-center justify-content-center" >
                                <h4 class="card-title mt-2">CAR RENTAL</h4>
                                <p class="mb-0 pb-3" style="color:#444444 !important;">
                                    IPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM IPSUMLOREM IPSUM
                                    IPSUMLOREM IPSUM IPSUMLOREM IPSUMIPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5 w-100">
                <div class="w-100">
                    <div class="container container-bh-2" style="display: flex;">
                        <div class="text-center justify-content-center pt-3 aboutrelay-info px-3 my-5">
                            <div class="card-body text-center justify-content-center" >
                                <h4 class="card-title mt-2">FOOD DELIVERY</h4>
                                <p class="mb-0 pb-3" style="color:#444444 !important;">
                                    IPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM IPSUMLOREM IPSUM
                                    IPSUMLOREM IPSUM IPSUMLOREM IPSUMIPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM
                                </p>
                            </div>
                        </div>
                        <div class="text-center justify-content-center pt-3 aboutrelay-img px-3 my-5">
                            <div class="card-body text-center justify-content-center m-auto">
                                <img src="/assets/images/login-food.jpg" alt="login form" class="img-fluid h-100" style="border-radius: 1rem 1rem 1rem 1rem;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body text-center justify-content-center" >
                <h4 class="card-title mt-2">TESTIMONIALS</h4>
                <p class="mb-0 pb-3" style="color:#444444 !important;">
                    IPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM IPSUMLOREM IPSUM
                    IPSUMLOREM IPSUM IPSUMLOREM IPSUMIPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM
                </p>
            </div>

        </div>
    </div>
    <div class="my-5 text-center justify-content-center">
        <div id="carouselExampleControls" class="carousel slide f-flex" data-ride="carousel" style="height:500px; background-color:white;">
            <div class="carousel-inner" style="position:relative; top: 50%;transform: translateY(-50%);">
                <div class="carousel-item active text-center justify-content-center">
                    <div class=" text-center justify-content-center d-flex w-100">
                        <div class="testimonial d-flex text-center justify-content-center my-5 w-75">
                            <div class="card-body text-center justify-content-center" >
                                <p>
                                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                                eos
                                id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
                                sit, aspernatur praesentium iste impedit quidem dolor veniam.
                                </p>
                                <h4 class="font-weight-bold" style="color:#444444 !important;">Hannah Labrador</h4>
                                <h6 class="font-weight-bold my-3">UI/UX Intern at AghimJuanPH</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center justify-content-center">
                    <div class=" text-center justify-content-center d-flex w-100">
                        <div class="testimonial d-flex text-center justify-content-center my-5 w-75">
                            <div class="card-body text-center justify-content-center" >
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                                    eos
                                    id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
                                    sit, aspernatur praesentium iste impedit quidem dolor veniam.
                                    </p>
                                    <h4 class="font-weight-bold" style="color:#444444 !important;">Phillip Jan Moran</h4>
                                    <h6 class="font-weight-bold my-3">Front-end web development Intern at AghimJuanPH</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="my-5 text-center justify-content-center">
        <div class="container">
            <div class="card-body text-center justify-content-center" >
                <p class="mb-0 pb-3" style="color:#444444 !important;">
                    IPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM IPSUMLOREM IPSUM
                    IPSUMLOREM IPSUM IPSUMLOREM IPSUMIPSUMLOREMIPSUMLOREMIPSUMLOREM IPSUMLOREMIPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>