/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '/home/dspace/Projects/relayv2/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
@import '/home/dspace/Projects/relayv2/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
// @import 'bootstrap';
// @import '../../app.component.scss';
:host{
  @font-face {
    font-family: 'Inter' !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root{
    --ds-content-spacing: #{10 * 1.5};
    --ds-header-logo-height: 80px;
    --ds-header-logo-height-xs: 60px;
    --rv-primary-bg-color: white;
    --rv-primary-color: #444444;


}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.btn-primary:active {
	color: var(--rv-primary-bg-color) !important;
	background: var(--rv-primary-color) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.075) !important;
	border: none;
}
.btn-primary, .btn-primary:focus {
	color: var(--rv-primary-bg-color) !important;
	background: var(--rv-primary-color)  !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  // box-shadow: none;
  border: none;
}
.btn-secondary:active {
	color: var(--rv-primary-color) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.075) !important;
	// border: 2px var(--rv-primary-color) solid !important;
  border: none;
}
.btn-secondary, .btn-secondary:focus {
	color: var(--rv-primary-color) !important;
  font-weight: bold;
  background-color: var(--rv-primary-bg-color) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 4px rgba(0, 0, 0, 0.100) !important;
  // box-shadow: 0 0 0 0.2rem rgba(213,160,33, 0.5) !important;
  box-shadow: none;
  border: none;
  // border: 1px black solid !important;
}

a.loginLink{
  color: var(--rv-primary-color) !important;
  text-decoration: none !important;
}
body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

.input-group {
  display: flex;
  align-items: stretch;
}

.input-group-field {
  margin-right: 0;
}

.input-group .input-group-button {
  margin-left: 0;
  border: none;
}

.input-group .mat-flat-button {
  border-radius: 0;
}
span{
  font-size: 50px;
  color:var(--rv-primary-color);
}
.icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0,0,0,.05);
  span{
      font-size: 60px;
      color: var(--rv-primary-color);
  }
}
.card-body{
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  padding-right: 0px ;padding-left: 0px;
}
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #efb702 !important;
}
h4{
  color:var(--rv-primary-bg-color) !important;
  font-weight: bold;
  font-size: 35px;
}
.card-title{
  color:var(--rv-primary-color) !important;
}
p{
  font-size: 25px;
}
.p-card{
  color:var(--rv-primary-bg-color) !important;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-width : 1024px) {

  .icon{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid rgba(0,0,0,.05);
      span{
          font-size: 30px;
          color: var(--rv-primary-color);
      }
  }
  span{
      font-size: 30px;
      color: var(--rv-primary-color);
  }
  .btTxt{
      width: 275px;
  }
/* Styles */
  h4{
      color:var(--rv-primary-bg-color) !important;
      font-weight: bold;
      font-size: 20px;
  }
  p{
      font-size: 17px;
  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  h4{
      color:var(--rv-primary-bg-color) !important;
      font-weight: bold;
      font-size: 15px;
  }
  p{
      font-size: 15px;
  }
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  h4{
      color:var(--rv-primary-bg-color) !important;
      font-weight: bold;
      font-size: 15px;
  }
  p{
      font-size: 15px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  // .cap1{
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     bottom:350px !important;
  // }
  .carousel-vision{
      height:700px
  }
  .info, .contact{
      width: 50%;
  }
  .info{
      border-radius: 10px 0 0 10px;
  }
  .contact{
      border-radius:0 10px 10px 0;
  }
  .aboutrelay-img{
      width: 50%;
  }
  .aboutrelay-info{
      width: 50%;

  }
  .btTxt{
      height: 100px;
  }
  .container-bh-3{
      display:flex
  }
  .container-bh-2{
      display:flex
  }
  .mb-0{
      line-height: 20pt;
  }
}
@media only screen
and (max-width : 1224px) {
  .mobilephone{
      width: 100%;;
  }
  .aboutrelay-img{
      display: none;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1921px) and (min-height: 1081px){
  .cap1{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:50vh;
  }

  .card{
      border-radius: 50px;
  }

  .container-fluid{
      max-width: 1524px !important;

  }
  .mb-0{
      line-height: 20pt;
  }
}
@media screen and (min-width:map-get($grid-breakpoints, xl)) and (max-width: 1920px){
    .cap1{
      display: flex;
      justify-content: center;
      align-items: center;
      bottom:10vh;
  }

  @media screen and (min-width:1400px) and (max-width:1440px){

  }
  @media screen and (width:1280px) and (height:800px){
    .cap1{
      display: flex;
      justify-content: center;
      align-items: center;
      bottom:20vh;
  }

  }
  @media screen and  (max-width:1500px){

  }
}
@media screen and (max-width:map-get($grid-breakpoints, xl)) {
  .cap1, .cap2, .cap3{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:30vh;
}


  @media screen and (max-width:map-get($grid-breakpoints, md)){

  }
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}